.CarForm-container,
.car-general-info {
  padding: 10px;
}
.car-form-item {
  margin-top: 1em;
  padding: 1em 0em;
}
.car-general-info__label {
  width: 30%;
}

.car-taxes-info__value {
  text-align: right;
}
